<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-3">
            <div class="card text-center p-3">
                <h5>Top cursos com mais inscrições</h5>
                <canvas
                    baseChart [data]="chartDistribuicaoCursosAtivosDataConfig"
                    [type]="chartDistribuicaoCursosAtivosType"
                    [options]="chartDistribuicaoCursosAtivosOptions">
                </canvas>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="card text-center p-3">
                <h5>Top cursos mais acessados da última semana</h5>
                <canvas
                    baseChart [datasets]="chartTopCursoSemanaData.datasets"
                    [labels]="chartTopCursoSemanaLabels"
                    [type]="chartTopCursoSemanaType"
                    [legend]="false"
                    [options]="chartTopCursoSemanaOptions">
              </canvas>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6 mb-3">
        <div class="card text-center p-3">
          <h5>Cursos Criados por Semestre</h5>
          <div style="display: block;">
            <!-- Seletor de Mês e Ano -->
            <div class="row justify-content-center">
              <div class="col-md-6">
                <label for="mesAno">Escolha Mês e Ano:</label>
                <input type="month" class="form-control" id="mesAno" [(ngModel)]="mesAno" (ngModelChange)="onChangeDate()">
              </div>
              <canvas
              baseChart
              [datasets]="chartCursosPorSemestreData.datasets"
              [labels]="chartCursosPorSemestreData.labels"
              [type]="chartCursosPorSemestreType"
              [options]="chartCursosPorSemestreOptions">
            </canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <div class="card text-center p-3">
          <h5>Top Cursos com Menos Inscrições</h5>
          <canvas
            baseChart
            [datasets]="chartCursosMenosInscricoesData.datasets"
            [labels]="chartCursosMenosInscricoesLabels"
            [type]="chartCursosMenosInscricoesType"
            [legend]="chartCursosMenosInscricoesLegend"
            [options]="chartCursosMenosInscricoesOptions">
          </canvas>
        </div>
      </div>
    </div>
</div>
