<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-3">
            <div class="card text-center p-3">
                <h5>Média de atividades por curso para cada professor</h5>
                <canvas baseChart [datasets]="chartProfessorMaisEngajadoData.datasets"
                    [labels]="chartProfessorMaisEngajadoLabels" [type]="chartProfessorMaisEngajadoType"
                    [legend]="chartProfessorMaisEngajadoLegend" [options]="chartProfessorMaisEngajadoOptions">
                </canvas>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="card text-center p-3">
                <h5>Professores com mais cursos</h5>
                <canvas baseChart [datasets]="chartTopProfessorData.datasets" [labels]="chartTopProfessorLabels"
                    [type]="chartTopProfessorType" [legend]="chartTopProfessorLegend"
                    [options]="chartTopProfessorOptions">
                </canvas>
            </div>
        </div>
    </div>
</div>
