<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Consulta</h5>
          <p class="card-text">Faça consultas aos dados.</p>
          <a routerLink="/consulta" class="btn btn-primary">Ir para Consultas</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Gráficos</h5>
          <p class="card-text">Visualize gráficos de dados.</p>
          <a routerLink="/graficos" class="btn btn-primary">Ver Gráficos</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Menu</h5>
          <p class="card-text">Acesse o menu de navegação.</p>
          <a routerLink="/menu" class="btn btn-primary">Ir para o Menu</a>
        </div>
      </div>
    </div>
  </div>
</div>
