<div class="container mt-4">
  <!-- Filtro de data dentro de um card do Bootstrap -->
  <div class="card p-4 mb-4">
    <div class="row justify-content-center">
      <div class="col-md-3">
        <label for="startDate">Data Inicial:</label>
        <input type="date" class="form-control" id="startDate" [(ngModel)]="startDate">
      </div>
      <div class="col-md-3">
        <label for="endDate">Data Final:</label>
        <input type="date" class="form-control" id="endDate" [(ngModel)]="endDate">
      </div>
    </div>
  </div>

  <!-- Gráficos dentro de cards do Bootstrap -->
  <div class="row justify-content-center">
    <div class="col-md-6 mb-3">
      <div class="card text-center p-3">
        <h5>Nº Usuários Logados nos Últimos 7 dias</h5>
        <canvas baseChart [datasets]="chartUltimosUsuariosLogadosData.datasets"
          [labels]="chartUltimosUsuariosLogadosLabels" [type]="chartUltimosUsuariosLogadosType"
          [legend]="chartUltimosUsuariosLogadosLegend" [options]="chartUltimosUsuariosLogadosOptions">
        </canvas>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card text-center p-3">
        <h5>Nº Matrículas Gategoria</h5>
        <div style="display: block;">
          <canvas
            baseChart [datasets]="chartCursosByCategoriaData.datasets"
            [labels]="chartCursosByCategoriaLabels"
            [type]="chartCursosByCategoriaType"
            [legend]="chartCursosByCategoriaLegend"
            [options]="chartCursosByCategoriaOptions">
          </canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6 mb-3">
      <div class="card text-center p-3">
        <h5>Gráfico 3</h5>
        <div style="display: block;">
          <!-- <canvas baseChart
                  [datasets]="barChartData.datasets"
                  [labels]="barChartData.labels"
                  [type]="barChartType"
                  [legend]="barChartLegend"
                  [options]="barChartOptions">''
          </canvas> -->
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card text-center p-3">
        <h5>Gráfico 4</h5>
        <div style="display: block;">
          <!-- <canvas baseChart
                  [datasets]="barChartData.datasets"
                  [labels]="barChartData.labels"
                  [type]="barChartType"
                  [legend]="barChartLegend"
                  [options]="barChartOptions">
          </canvas> -->
        </div>
      </div>
    </div>
  </div>
</div>
